<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="website icon" type="png"
        href="https://t4.ftcdn.net/jpg/03/38/53/45/360_F_338534551_Rsv1pxY28g0dhFfeD7ule82Mrbi6yasF.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="menu.css"> -->
    <style>
        * {
            margin: 0;
            padding: 0;
            border: border-box;
            font-family: Arial, Helvetica, sans-serif;
        }

        body::-webkit-scrollbar {
            display: none;
        }

        nav {
            height: 94px;
            background-color: white;
            display: flex;
            /* justify-content: space-around; */
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            /* position: sticky; */
        }

        nav a {
            text-decoration: none;
            /* color: #dd2803; */
            font-size: 1.1vw;
            color: black;
            transition: 0.2s;
        }

        .home1:hover {
            color: #dd2803;
            text-decoration: underline;
        }

        .main nav .logo a {
            color: #dd2803;
            font-weight: 600;
        }


        .logo a img {
            height: 50px;
            width: 240px;
        }

        .nav-cont {
            width: 600px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: nowrap;
            margin-left: 600px;
        }

        .order-online {
            width: 200px;
            height: 70px;
            background-color: #dd2803;
            margin-left: auto;
            margin-right: -70px;
            transition: 0.5s all ease;
            transform: rotate(90deg);
            margin-top: 107px;
        }


        .order {
            text-decoration: none;
            color: white;
            width: 200px;
            height: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.1vw;
        }

        .order-online:hover a {
            color: #dd2803;
            background-color: white;
            border: 1px solid #dd2803;

        }

        .heading {
            height: 300px;
            width: 100%;
            display: flex;
            justify-content: center;
            /* align-items: center; */
            background-color: #fbe690;
        }

        .heading h1 {
            font-size: 6.5vw;
            text-align: center;
            color: #dd2803;
            margin-top: auto;
        }

        .menu {
            height: 1900px;
            width: 100%;
            background-color: #f9f2ea;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .menu-cont {
            width: 87%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            /* text-align: center; */
            gap: 80px;
        }

        .row1 {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 70%;
        }

        .row2 {
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .row2 .row1-cont {
            display: flex;
            flex-direction: row;
            margin: auto;
            border-top: 3px solid #dd2803;
            padding-top: 30px;
            gap: 75px;
        }

        .row1-cont {
            display: flex;
            flex-direction: row;
            margin: auto;
            border-top: 3px solid #dd2803;
            padding-top: 30px;
            gap: 65px;
        }

        .menu-cont a {
            text-decoration: none;
            color: black;
            font-size: 1.5vw;
            font-weight: 600;
        }

        .menu1 {
            transition: 0.5s all ease;
            cursor: pointer;
        }

        .menu1:hover {
            /* border: 2px solid black; */
            /* padding: 10px; */
            transform: scale(1.03);
        }

        .contactus {
            height: 600px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            background: #fff;
            flex-wrap: wrap;
        }

        .contact {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        .Crow1 {
            display: flex;
            gap: 183px;
        }

        .Crow2 {
            display: flex;
            gap: 220px;
        }

        .input1 {
            display: flex;
            gap: 30px;
        }

        .input1 input {
            outline: none;
            border: none;
            border-bottom: 2px solid black;
            width: 220px;
            /* padding: 2px; */
        }

        .message input {
            width: 270px;
            padding: 18px;
        }

        .message button {
            width: 140px;
            height: 60px;
            border: 2px solid black;
            background: none;
            transition: 0.5s all ease;
            font-size: 1.2vw;
        }

        .message button:hover {
            color: white;
            background-color: #dd2803;

        }

        .timings {
            display: flex;
            flex-direction: column;
            gap: 47px;
        }

        .social-media {
            width: 100px;
            display: flex;
            gap: 30px;
        }

        .social-media a:hover {
            animation: shake 0.5s;
            animation-iteration-count: 0.5s;
        }

        @keyframes shake {
            0% {
                transform: translate(1px, 1px) rotate(0deg);
            }

            10% {
                transform: translate(-1px, -2px) rotate(-1deg);
            }

            20% {
                transform: translate(-3px, 0px) rotate(1deg);
            }

            30% {
                transform: translate(3px, 2px) rotate(0deg);
            }

            40% {
                transform: translate(1px, -1px) rotate(1deg);
            }

            50% {
                transform: translate(-1px, 2px) rotate(-1deg);
            }

            60% {
                transform: translate(-3px, 1px) rotate(0deg);
            }

            70% {
                transform: translate(3px, 1px) rotate(-1deg);
            }

            80% {
                transform: translate(-1px, -1px) rotate(1deg);
            }

            90% {
                transform: translate(1px, 2px) rotate(0deg);
            }

            100% {
                transform: translate(1px, -2px) rotate(-1deg);
            }
        }

        footer {
            height: 80px;
            background-color: #dd2803;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 17px;
        }

        footer a {
            text-decoration: none;
            color: #fff;
        }

        footer a:hover {
            text-decoration: underline;
            color: black;
        }

        .dropdown {
            position: relative;
            display: inline-block;
            cursor: pointer;
        }

        .dropdown-content {
            visibility: hidden;
            position: absolute;
            min-width: 110px;
            background-color: #f9f9f9;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            padding: 10px 10px;
            display: flex;
            flex-direction: column;
            gap: 16px;
        }

        .dropdown:hover .dropdown-content {
            visibility: visible;
            margin-top: 2px;
        }

        /* media queries */



        @media (max-width: 1245px) {
            .nav-cont {
                width: 100%;
                margin-left: 0;
                justify-content: space-evenly;
            }

            .order-online {
                display: none;
            }

            .main nav a {
                font-size: 1rem;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <nav>
            <div class="logo"><a href="/home"><img
                        src="https://cdn.glitch.global/1fe29a7d-73cd-4242-880d-c67fb794c0fe/food.png?v=1692977430389"
                        alt="logo"></a></div>
            <div class="nav-cont">
                <a href="/home" class="home1">Home</a>
                <a href="/menu" class="home1" style="color: #dd2803;">Menu</a>
                <a href="/orders" class="home1">Order Online</a>
                <a href="/home#contact" class="home1">Contact</a>
                <div class="dropdown">
                    <a href="">
                        <i class="fa-regular fa-circle-user fa-xl" style="color: #dd2803;"></i>
                        <span style="color: #dd2803;" id="user">Login</span>
                    </a>
                    <div class="dropdown-content">
                        <span><a href="">My Account</a></span>
                        <span><a href="/" onclick="logout()"><i class="fa-solid fa-power-off fa-lg"
                                    style="color: #000000;"></i> <span id="logout">Logout</span></a></span>
                    </div>
                </div>
            </div>
            <div class="order-online"><a href="orders.html" class="order">Order Online</a></div>
        </nav>
        <div class="heading">
            <h1>MENU</h1>
        </div>
        <div class="menu">
            <div class="menu-cont">
                <a href="">MENU</a>
                <div class="row1">
                    <h1>CHICKEN SANDWICH</h1>
                    <div class="row1-cont">
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Classic Chicken Sandwich................ $9</h3>
                            <p style="line-height: 28px;">Introducing the Classic Chicken Sandwich – a timeless delight
                                that satisfies your cravings in every bite.</p>
                        </div>
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Mega Chicken Sandwich................... $12</h3>
                            <p style="line-height: 28px;">Introducing our culinary masterpiece, the Mega Chicken
                                Sandwich, a true delight for all food enthusiasts! </p>
                        </div>
                    </div>
                </div>
                <!-- row2 -->
                <div class="row1">
                    <h1>TENDERS</h1>
                    <div class="row1-cont">
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Chicken Tenders - 6pcs.....................$9</h3>
                            <p style="line-height: 28px;">Introducing our delectable Chicken Tenders – a true delight
                                for your taste buds! Savor the crispy, golden-brown exterior that gives way to tender,
                            </p>
                        </div>
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Chicken Tenders - 9pcs.....................$12</h3>
                            <p style="line-height: 28px;">Introducing our delectable Chicken Tenders – a true delight
                                for your taste buds! Savor the crispy, golden-brown exterior that gives way to tender,
                            </p>
                        </div>
                    </div>
                </div>
                <!-- row3 -->
                <div class="row1">
                    <h1>WINGS</h1>
                    <div class="row1-cont">
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Hot & Spicy Wings - 6pcs................ $9</h3>
                            <p style="line-height: 28px;">Indulge in a fiery delight with our Hot & Spicy Wings - a
                                tantalizing ensemble of 6 pieces that pack a punch of flavors.</p>
                        </div>
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Hot & Spicy Wings - 9pcs................ $12</h3>
                            <p style="line-height: 28px;">Indulge in a fiery delight with our Hot & Spicy Wings - a
                                tantalizing ensemble of 9 pieces that pack a punch of flavors. </p>
                        </div>
                    </div>
                </div>
                <!-- row4 -->
                <div class="row1">
                    <h1>SPECIAL OFFERS</h1>
                    <div class="row1-cont">
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Food Express Combo................ $19</h3>
                            <p style="line-height: 28px;">Introducing the Classic Chicken Sandwich – a timeless delight
                                that satisfies your cravings in every bite.</p>
                        </div>
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 20px;">
                            <h3>Family Meal ....................... $19.9</h3>
                            <p style="line-height: 28px;">Introducing our culinary masterpiece, the Mega Chicken
                                Sandwich, a true delight for all food enthusiasts! </p>
                        </div>
                    </div>
                </div>
                <!-- row5 -->
                <div class="row1 row2">
                    <h1>SIDES</h1>
                    <div class="row1-cont">
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 50px;">
                            <h3>French Fries..................................................... $9</h3>
                            <h3>French Fries..................................................... $9</h3>
                        </div>
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 50px;">
                            <h3>Mega Chicken Sandwich.................................. $12</h3>
                            <h3>Mega Chicken Sandwich.................................. $12</h3>
                        </div>
                    </div>
                </div>
                <!-- row6 -->
                <div class="row1 row2">
                    <h1>DESSERTS</h1>
                    <div class="row1-cont">
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 50px;">
                            <h3>Pastries .............................................................. $3</h3>
                        </div>
                        <div class="menu1" style="display: flex; flex-direction: column; gap: 50px;">
                            <h3>Ice Cream ........................................................... $4</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="">
            <div class="contactus">
                <div class="contact">
                    <h1>CONTACT US</h1>
                    <h3>DROP US A LINE AND WE'LL GET BACK TO YOU</h3>
                    <div class="Crow1">
                        <span>First Name</span>
                        <span>Last Name</span>
                    </div>
                    <div class="input1">
                        <span><input type="text"></span>
                        <span><input type="text"></span>
                    </div>
                    <div class="Crow2">
                        <span>Email</span>
                        <span>Subject</span>
                    </div>
                    <div class="input1">
                        <span><input type="text"></span>
                        <span><input type="text"></span>
                    </div>
                    <p>Leave us a message...</p>
                    <div class="input1 message">
                        <span><input type="text"></span>
                        <span><button style="cursor: pointer;">Submit</button></span>
                    </div>
                </div>
                <div class="timings">
                    <h1>WE'RE OPEN</h1>
                    <p>Monday-Friday : 11am-10pm<br><br>
                        Saturday-Sunday: 9am-12pm</p>
                    <p>500 Street, Bhimavaram<br><br>
                            West Godavari District</p>
                    <p>Tel: 123-456-7890<br><br>
                        Email: foodexpress@gmail.com</p>
                    <div class="social-media">
                        <a href=""><i class="fa-brands fa-facebook-f fa-xl" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-instagram fa-xl" style="color: #000000;"></i></a>
                        <a href=""><i class="fa-brands fa-twitter fa-xl" style="color: #000000;"></i></a>
                    </div>
                </div>
            </div>
        </form>
        <footer>
            <div class="copyright"><span>© 2023 by <a href="">Food Express.</a> Powered and secured by Rakib
                    ali</span>
            </div>
        </footer>
    </div>
    <script>
        // Retrieve the 'username' cookie
        document.addEventListener("DOMContentLoaded", function () {
            const username = document.cookie
                .split('; ')
                .find(row => row.startsWith('username='))
                .split('=')[1];

            if (username) {
                document.getElementById("user").innerHTML = username;
            }
        });
        function logout() {
            document.cookie = 'username=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            document.cookie = 'logoutFlag=true; path=/'; 
            // Redirect to the home page
            window.location.href = "/home"; 
        }

    </script>
</body>

</html>
